/*html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'ubuntu', sans-serif;
   
      
    

}
body{ /* ## corpo geral de todas as paginas ## */
    background-color: #f4f5f8;
    background-attachment: fixed; 
    text-align: center;  
    font-size: 1rem;
    line-height: 1.4;
    
    
   
   
     
}



.max-width{ /* ## esta no layout do Menu  ## */
  max-width: 1300px;
  padding: 0 10px;
  margin: auto;
}


.navbar .logo a{
  
  color: #fff;
  font-size: 35px;
  font-weight: 500;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  font-family: 'ubuntu', sans-serif;
  background-color: #141b29;
  border-bottom: solid #1b202a 1px;
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .menu li{
  list-style: none;
  display: inline-flex;
}
.navbar .menu li a{
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-left: 25px;
}
.menu-btn{
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

@media (max-width: 947px){
  .menu-btn{
      display: block;
      z-index: 999;
  }
  .menu-btn i.active:before{
      
      content: "\f00d";
  }
  .navbar .menu{
      background-color: #141b29;
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
  }
  .navbar .menu.active{
      left: 0;
  }
  .navbar .menu li{
      display: block;
  }
  .navbar .menu li a{
      display: inline-block;
      margin: 13px 0;
      font-size: 25px;
  }
  .max-width{
      max-width: 930px;
  }
}
section {
  padding: 80px 0;
}

@media(max-width: 690px){
  section{
      padding: 20px 0;
  }
}
.top{
  color:rgb(0, 15, 15);
  display: flex;
  background: url("../public/home.jpg");
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-size: 60px;
  font-family: "ubuntu", sans-serif;

}


.top .max-width{
  width: 100%;
  display: flex;
}
.top .top-content .text-1{
  font-size: 45px;

}
.top .top-content .text-2{
  font-size: 55px;
  font-weight: 400;
  margin-left: -3px;    
}
.top .top-content .text-3{
  font-size: 32px;
  margin: 5px 0;
}
.top .top-content a{
  display:inline-block;
  background-color: #4581f8;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 300;
  border-radius: 6px;
  border: 2px solid #4581f8;;
  transition: all 0.3s ease;

}
.top .top-content a:hover {
  color: #fff;
  background: none;
}


/*.contact-form {
  grid-column: span 2;
}

.contact-form .form-grid {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}

.form-grid legend {
  font-style: italic;
  font-size: 1.6rem; 
  margin-bottom: 3rem;
}

.form-group {
  flex: 1 1 320px;
}

.form-group label {
  display: block;
  margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
  border: none;
  background: var(--white-color);
  padding: 1.5rem 2rem;
  width: 100%;
  font-size: 3rem;
  outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
  box-shadow: 0 0 10px 2px var(--secondary-color);
}

.form-group button {
  border: 0.5rem solid var(--white-color);
  background: none;
  color: var(--white-color);
  padding: 1.5rem 2rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.form-group button:hover {
  background: var(--white-color);
  color: var(--primary-color);
}

.form-group ::placeholder {
  color: var(--light-gray-color);
}*/

.contact{
  color: #fff;
  background-color: #0c0f16;
  font-family: 'Poppins', sans-serif;
}

.contact .title{
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
  font-weight: 400;
  font-size: 35px;
}

.contact .contact-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact .contact-content .column{
  width: calc(50% - 30px);
}

.contact .contact-content .left p{
  text-align: justify;
}

.contact .contact-content .left .icons{
  margin: 10px 0;
}

.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info{
  margin-left: 30px;
}

.contact .contact-content .row i{
  font-size: 25px;
  color: #1f80e0;
}

.contact .contact-content .info .head{
  font-weight: 500;
}

.contact .contact-content .info .sub-title{
  color: #f6f6f6;
}

.contact .contact-content .text{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.contact .right form .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .name{
  margin-right: 10px;
}

.contact .right form .field input{
  height: 100%;
  width: 100%;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-family: 'Poppins', sans-serif;
  transition:  all 0.3s ease;
}

.contact .right form .button-area{
  display: flex;
  align-items: center;
}

.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: wrap;
  background-color: #1f80e0;
  border: 2px solid #1f80e0;
  transition: all 0.3s ease;
}

.right form .button-area button:hover{
  color: #1f80e0;
  background: none;
}

@media (max-width: 947px){
  .contact .contact-content .column{
      width: 100%;
      margin-bottom: 35px;
  }
}

@media (max-width: 500){
  .contact .title{
      margin-top: 50px;
  }
  .contact .right form .fields{
      flex-direction: column;
  }
}

.alert-danger{
  background-color: #f8d7da;
  color: #842029;
  margin: 10px 0;
  border: 1px solid #f5c2c7;
  border-radius: 6px;
  padding: 7px;
}

.alert-success{
  background-color: #d1e7dd;
  color: #0f5132;
  margin: 10px 0;
  border: 1px solid #badbcc;
  border-radius: 6px;
  padding: 7px;
}